.dart_tool/
.pub-cache/
.pub/
build/

.flutter-plugins
.flutter-plugins-dependencies

android/local.properties
android/key.properties
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/

ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh

.idea/
*.iml
.vscode/
